<div class="row">
  <div class="small-4 columns">
    <h2>Listing Products</h2>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <table>
      <tr>
        <th>Comments</th>
        <th>Products</th>
      </tr>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.comment %></td>
          <td><%= comment.product.name if comment.product %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Back", root_path %>
  </div>
</div>